﻿@model PagedList.PagedList<WebDACN.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Tin tức";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Tin tức thời trang</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-4 col-sm-6">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic set-bg" data-setbg="@item.Image"></div>
                                <div class="blog__item__text">
                                    <h6><a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h6>
                                    <ul>
                                        <li>@item.CreatedDate.ToString("dd-MM-yyyy")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-lg-12 text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>

        </div>
</section>
<!-- Blog Section End -->
